/*_1 __________________________________________*/
.coach1 .pictograms div{
    left: 60.8%;
}
    
@keyframes pictoAnimate1{
    0%{
        transform: translatex(110%);
        bottom: 5.2vh;
    }
    88%{
        transform: scale(100%);
        opacity: 100%;
        bottom: 5.2vh;
        }
    100%{
        transform: scale(110%);
        opacity: 0%;
        bottom: 6.7vh;
    }
}

/*_2__________________________________________*/

.coach2 .pictograms div{
    left: 53.5%;
}
    
@keyframes pictoAnimate2{
    0%{
        transform: translatex(130%);
        bottom: 5.2vh;
    }
    88%{
        transform: scale(100%);
        opacity: 100%;
        bottom: 5.2vh;
        }
    100%{
        transform: scale(110%);
        opacity: 0%;
        bottom: 6.7vh;
    }
}

/*_3__________________________________________*/


.coach3 .pictograms div, .coach4 .pictograms div{
    left: 49.5%;
}
    
@keyframes pictoAnimate3-4{
    0%{
        transform: translatex(150%);
        bottom: 5.2vh;
    }
    88%{
        transform: scale(100%);
        opacity: 100%;
        bottom: 5.2vh;
        }
    100%{
        transform: scale(110%);
        opacity: 0%;
        bottom: 6.7vh;
    }
}

/* __________________________________________ */