*.coach1{
    --IZQUIERDA: 71.75%;
    --ANCHO-LINEA: 8%;
    --LINEA-LEFT: 81%;
}

*.coach2{
    --IZQUIERDA: 64.3%;
    --ANCHO-LINEA: 8%;
    --LINEA-LEFT: 73%;
}

*.coach3, *.coach4{
    --IZQUIERDA: 60.3%;
    --ANCHO-LINEA: 8%;
    --LINEA-LEFT: 69%;
}

.line{
    left: var(--LINEA-LEFT);
}