:root{
        /* color del beat */
    --Primario-color: #0fe5ff;                        /*Color principal*/
    --Primario-color-oscuro: #0b94a7;                 /*Color oscuro*/
    --color-1:#13b9d5;                                /*Color arriba*/
    --color-2:#590eaf;                                /*Color abajo*/
}